<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <text>
                        Please wait... We are authorizing you!
                        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                    </text>
                </Authorizing>
                <NotAuthorized>
                    <h1>Oops, you do not have Access!</h1>
                    <p>
                        The page component you are trying to reach requires you
                        to have more permissions than you currently do. Please 
                        contact the administrator if you think you have reached 
                        this page in error. 
                    </p>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
